.contributions-graph-wrapper {
  border-radius: 6px;
  border: 1px solid #d1d9e0;
  padding: 12px 8px;
  overflow-y: scroll;
  max-height: 300px;
}

.contributions-graph {
  margin: 0 auto;
  width: fit-content;
  display: grid;
  gap: 3px;
  grid-template-rows: repeat(8, 12px);
}

.contributions-months {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / -1;
}

.contributions-days-of-week {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 2 / -1;
  text-align: end;
  padding-inline-end: 7px;
}

.contributions-grid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

.contribution {
  border-radius: 2px;
}
