#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.controls {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 32px;
}

.actions-group {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}
